body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    text-align: center;
    border: 2px solid #007bff; /* Outer border color */
    padding: 20px; /* Padding for outer container */
    border-radius: 10px; /* Rounded corners */
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#weatherContainer {
    margin-top: 20px;
    border: 2px solid #ccc; /* Inner border color */
    padding: 20px; /* Padding for inner container */
    border-radius: 10px; /* Rounded corners */
}

#weatherInfo {
    margin-top: 20px;
}
