body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

#quiz {
    margin-bottom: 20px;
}

#question {
    font-size: 18px;
    margin-bottom: 10px;
}

#options {
    margin-bottom: 20px;
}

.option {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    background-color: #5C6BC0;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.option.correct {
    background-color: #4CAF50; /* Green */
}

.option.incorrect {
    background-color: #f44336; /* Red */
}

#submit {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#result {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    display: none;
}
